.shopping-add > div{
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.shopping-add input, .shopping-add button{
    height: 32px;
    border: 1px solid #eee;
    border-radius: 7px;
    padding: 4px;
    display: inline-block;
    box-sizing: border-box;
    
    width: 100%;
}

ul{
    margin: 0;
    display: flex;
    padding-inline-start: 0px;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}
li{
    border: 1px solid #eee;
    padding: 8px 22px 8px 10px;
    display: inline-block;
    border-radius: 7px;
    min-width: 200px;
}